*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #172545;
    color: white;
}
nav {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    background: #111827;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 20px 50px;
    gap: 40px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
}